.chef_section {

  .chef_section_inner {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media (min-width: $screen-sm) {
      flex-direction: row;
      gap: 112px;
    }

    .left {
      width: 100%;

      @media (min-width: $screen-sm) {
        min-width: 698px;
      }

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }

    }

    .right {

      @media (min-width: $screen-sm) {
        padding-top: 135px;
      }

      .chef_title {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0;
        text-transform: uppercase;
      }

      .chef_content {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0;
      }

    }

  }

}