.cuisine_section {


  .cuisine_section_inner {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media (min-width: $screen-sm) {
      flex-direction: row;
      gap: 100px;
    }

    .left {
      max-width: 529px;
      order: 1;

      @media (min-width: $screen-sm) {
        order: 0;
      }

      .cuisine_image {
        max-width: 529px;
        width: 100%;

        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }

      }

    }

    .right {
      order: 0;

      @media (min-width: $screen-sm) {
        order: 1;
      }

      .content_section {
        width: 100%;
        padding: 0 0 30px 0;

        @media (min-width: $screen-sm) {
          padding: 70px 0 100px 0;
        }

        .cuisine_title {
          font-weight: 500;
          font-size: 14px;
          line-height: 18px;
          letter-spacing: 0;
          text-transform: uppercase;
          max-width: 404px;
          width: 100%;
        }

        .cuisine_content {
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;
          letter-spacing: 0;
          max-width: 404px;
          width: 100%;
        }

      }

      .cuisine_image {
        max-width: 100%;
        width: 100%;

        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }

      }

    }

  }

}