.cuisine_section {


  .cuisine_section_inner {
    display: flex;
    flex-direction: row;
    gap: 100px;

    .left {
      max-width: 529px;

      .cuisine_image {
        max-width: 529px;
        width: 100%;

        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }

      }

    }

    .right {

      .content_section {
        padding: 70px 0 100px 0;
        width: 100%;

        .cuisine_title {
          font-weight: 500;
          font-size: 14px;
          line-height: 18px;
          letter-spacing: 0;
          text-transform: uppercase;
          max-width: 404px;
          width: 100%;
        }

        .cuisine_content {
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;
          letter-spacing: 0;
          max-width: 404px;
          width: 100%;
        }

      }

      .cuisine_image {
        max-width: 100%;
        width: 100%;

        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }

      }

    }

  }

}