.html_code_section {

  .html_code_section_inner {

    h2 {
      text-align: center;
      font-weight: 500;
    }

    #tripleseat_embed_form {
      display: flex;
      justify-content: center;

      input, select, textarea {
        height: 50px;
        border: 0.5px solid #7e7e7e;
        background: #f3f3f3;
        border-radius: 0;
        color: #7e7e7e;
        padding-left: 15px;
        width: 100% !important;

        &::placeholder {
          color: #7e7e7e;
        }

      }

      a {
        display: none;
      }

      textarea {
        height: 150px;
      }

      #lead_submit {
        background: black !important;
        color: white;
        text-transform: uppercase;
        border: 1px solid black !important;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
          background: white !important;
          border: 1px solid black !important;
          color: black;
        }

      }

    }

  }

}
