body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1346px;
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
}

.hover_links {

  a {
    position: relative;
    transition: 0.3s;

    &:after {
      position: absolute;
      bottom: -2px;
      left: 0;
      content: '';
      width: 0;
      height: 1px;
      background-color: inherit;
      transition: 0.3s;
    }

    &:hover {
      &:after {
        width: 100%;
      }
    }

  }

}
// List styling
ol, ul {
  margin: 0 0 1.5em 0;
  padding: 0 0 0 2em;
  list-style-position: outside;
  
  li {
    display: list-item;
    margin-bottom: 0.5em;
  }
}

ul {
  list-style-type: disc;
  
  li {
    list-style-type: disc;
  }
}

ol {
  list-style-type: decimal;
  
  li {
    list-style-type: decimal;
  }
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin-bottom: 0;
  margin-top: 0.5em;
}
