/* Global Variables */
:root {
    --primary-color: #007cba;
    --secondary-color: #666;
    --text-color: #333;
    --background-color: #fff;
}

$screen-xs: 480px !default;
$screen-sm: 768px !default;
$screen-md: 1024px !default;
$screen-mdsx: 1080px !default;
$screen-mdx: 1440px !default;
$screen-lg: 1616px !default;